[submodule "neuroscope"]
	path = neuroscope
	url = https://github.com/CompSciEng/neuroscope.git
[submodule "libneurosuite"]
	path = libneurosuite
	url = https://github.com/CompSciEng/libneurosuite.git
