[submodule "neuroscope"]
	path = neuroscope
	url = https://github.com/neurosuite/neuroscope.git
[submodule "libneurosuite"]
	path = libneurosuite
	url = https://github.com/neurosuite/libneurosuite.git
